################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LatokenAPIWpfClient/.vs
/LatokenAPIWpfClient/bin
/LatokenAPIWpfClient/obj
/*.txt
